<%= render 'navbar' %>

<div class="container py-5 px-5 bg-white rounded mt-3">
  <div class="row">

    <div class="col-sm-12">

      <%= render 'title' %>

      <%= render 'tabs' %>
 
      <div class="comments mt-2">

        <div class="row">
          <div class="col-sm-4 mb-1">
            <figure class="figure">
              <%= image_tag 'oses/cigkofte-1000', class: 'w-100 figure-img img-fluid rounded' %>
              <figcaption class="figure-caption">
                1000 g Aile Boyu Porsiyon
              </figcaption>
            </figure>
          </div>

          <div class="col-sm-4 mb-1">
            <figure class="figure">
              <%= image_tag "oses/cigkofte-500", class: 'w-100 figure-img img-fluid rounded' %>
              <figcaption class="figure-caption">
                500g Tam Porsiyon
              </figcaption>
            </figure>
          </div>

          <div class="col-sm-4 mb-1">
            <figure class="figure">
              <%= image_tag "oses/cigkofte-250", class: 'w-100 figure-img img-fluid rounded' %>
              <figcaption class="figure-caption">
                250g Yarim Porsiyon
              </figcaption>
            </figure>
          </div>

          <div class="col-sm-4 mb-1">
            <figure class="figure">
              <%= image_tag "oses/durum", class: 'w-100 figure-img img-fluid rounded' %>
              <figcaption class="figure-caption">
                Dürüm
              </figcaption>
            </figure>
          </div>

          <div class="col-sm-4 mb-1">
            <figure class="figure">
              <%= image_tag "oses/dilim", class: 'w-100 figure-img img-fluid rounded' %>
              <figcaption class="figure-caption">
                Çiğ Dilim
              </figcaption>
            </figure>
          </div>

          <div class="col-sm-4 mb-1">
            <figure class="figure">
              <%= image_tag "oses/acisos", class: 'w-100 figure-img img-fluid rounded' %>
              <figcaption class="figure-caption">
                Acı Sos
              </figcaption>
            </figure>
          </div>


          <div class="col-sm-4 mb-1">
            <figure class="figure">
              <%= image_tag "oses/lavas", class: 'w-100 figure-img img-fluid rounded' %>
              <figcaption class="figure-caption">
                Lavaş
              </figcaption>
            </figure>
          </div>

          <div class="col-sm-4 mb-1">
            <figure class="figure">
              <%= image_tag "oses/aci-sos", class: 'w-100 figure-img img-fluid rounded' %>
              <figcaption class="figure-caption">
                Acı Sos Şişe
              </figcaption>
            </figure>
          </div>

        </div>

      </div>


    </div>
  </div>
</div>

