<%= render 'navbar' %>


<div class="container mt-3">
  <div class="row">
    <input class="form-control form-control-lg px-5" type="text" id='search' value='galaxy' placeholder="Product, brand or shop" autofocus>
    </div>
</div>

<script type="text/javascript">
  
  var searchInput = document.getElementById('search');
  var strLen = searchInput.value.length;
  searchInput.setSelectionRange(strLen, strLen); 

</script>

<div class="container py-5 px-5 bg-white rounded mt-1">
  <h2 class="h5 bb-1 pb-1 mb-3 text-muted">Search Results</h2>


  <h3 class="h6 bb-1 mb-1 pb-1 text-muted">PRODUCTS</h3>
  <div class="row mb-1">
    <div class="col-xs-1">
      <%= image_tag placeholder(50, 50), class: 'img-fluid' %>  
    </div>

    <div class="col-xs-9">
      <div><a href="#">Galaxy S5</a></div>
      Mobile Phone by Samsung
    </div>
  </div>

  <div class="row mb-1">
    <div class="col-xs-1">
      <%= image_tag placeholder(50, 50), class: 'img-fluid' %>  
    </div>

    <div class="col-xs-9">
      <div><a href="#">Galaxy S7</a></div>
      Mobile Phone by Samsung
    </div>
  </div>

  <div class="row mb-1">
    <div class="col-xs-1">
      <%= image_tag placeholder(50, 50), class: 'img-fluid' %>  
    </div>

    <div class="col-xs-9">
      <div><a href="#">Galaxy S7 Edge</a></div>
      Mobile Phone by Samsung
    </div>
  </div>
  <div class="row mb-1">
    <div class="col-xs-1">
      <%= image_tag placeholder(50, 50), class: 'img-fluid' %>  
    </div>

    <div class="col-xs-9">
      <div><a href="#">Galaxy S6</a></div>
      Mobile Phone by Samsung
    </div>
  </div>

  <div class="row mb-1">
    <div class="col-xs-1">
      <%= image_tag placeholder(50, 50), class: 'img-fluid' %>  
    </div>

    <div class="col-xs-9">
      <div><a href="#">Galaxy A1</a></div>
      Mobile Phone by Samsung
    </div>
  </div>

  <div class="row mb-1">
    <div class="col-xs-1">
      <%= image_tag placeholder(50, 50), class: 'img-fluid' %>  
    </div>

    <div class="col-xs-9">
      <div><a href="#">Galaxy A3</a></div>
      Mobile Phone by Samsung
    </div>
  </div>
  <div class="text-xs-right"><a href="#">more</a></div>







  <h3 class="h6 bb-1 mb-1 mt-3 pb-1 text-muted">SHOPS</h3>
  <div class="row mb-1">
    <div class="col-xs-1">
      <%= image_tag placeholder(50, 50), class: 'img-fluid' %>  
    </div>

    <div class="col-xs-9">
      <div><a href="#">Galaksi Computer</a></div>
      Kucukcekmece, Istanbul
    </div>
  </div>

  <div class="row mb-1">
    <div class="col-xs-1">
      <%= image_tag placeholder(50, 50), class: 'img-fluid' %>  
    </div>

    <div class="col-xs-9">
      <div><a href="#">Galaxy Healtcare</a></div>
      galaxyhealtcare.com
    </div>
  </div>

  <div class="row mb-1">
    <div class="col-xs-1">
      <%= image_tag placeholder(50, 50), class: 'img-fluid' %>  
    </div>

    <div class="col-xs-9">
      <div><a href="#">Galaxy Schools</a></div>
      St. Blvrd, San Francisco
    </div>
  </div>

  <div class="row mb-1">
    <div class="col-xs-1">
      <%= image_tag placeholder(50, 50), class: 'img-fluid' %>  
    </div>

    <div class="col-xs-9">
      <div><a href="#">Galaxies Gamers</a></div>
      galaxies-gamers.com
    </div>
  </div>

  <div class="row mb-1">
    <div class="col-xs-1">
      <%= image_tag placeholder(50, 50), class: 'img-fluid' %>  
    </div>

    <div class="col-xs-9">
      <div><a href="#">Galaxxy Cafe</a></div>
      Rome, Italy
    </div>
  </div>

  <div class="row mb-1">
    <div class="col-xs-1">
      <%= image_tag placeholder(50, 50), class: 'img-fluid' %>  
    </div>

    <div class="col-xs-9">
      <div><a href="#">Galaxy Schools</a></div>
      St. Blvrd, San Francisco
    </div>
  </div>
  <div class="text-xs-right"><a href="#">more...</a></div>


  <h3 class="h6 bb-1 mb-1 mt-3 pb-1 text-muted">BRANDS</h3>
  <div class="row mb-1">
    <div class="col-xs-1">
      <%= image_tag placeholder(50, 50), class: 'img-fluid' %>  
    </div>

    <div class="col-xs-9">
      <div>Galaksi</div>
      <a href="#">Dry Cleaneing Services</a>
    </div>
  </div>

</div>
