<%= render 'navbar' %>

<div class="container rounded mt-3">
  <div class="row">

    <div class="col-sm-12">

      <%= render 'title' %>

      <%= render 'tabs' %>
 
      <div class="comments mt-2">

        <div class="row">
          <div class="col-sm-4 mb-1">
            <figure class="figure">
              <%= image_tag "http://placehold.it/300x300.png", class: 'w-100 figure-img img-fluid rounded' %>
              <figcaption class="figure-caption">
                <a href="#">A caption for the above image.</a>
              </figcaption>
            </figure>
          </div>

          <div class="col-sm-4 mb-1">
            <figure class="figure">
              <%= image_tag "http://placehold.it/300x300.png", class: 'w-100 figure-img img-fluid rounded' %>
              <figcaption class="figure-caption">
                <a href="#">A caption for the above image.</a>
              </figcaption>
            </figure>
          </div>

          <div class="col-sm-4 mb-1">
            <figure class="figure">
              <%= image_tag "http://placehold.it/300x300.png", class: 'w-100 figure-img img-fluid rounded' %>
              <figcaption class="figure-caption">
                <a href="#">A caption for the above image.</a>
              </figcaption>
            </figure>
          </div>

          <div class="col-sm-4 mb-1">
            <figure class="figure">
              <%= image_tag "http://placehold.it/300x300.png", class: 'w-100 figure-img img-fluid rounded' %>
              <figcaption class="figure-caption">
                <a href="#">A caption for the above image.</a>
              </figcaption>
            </figure>
          </div>

          <div class="col-sm-4 mb-1">
            <figure class="figure">
              <%= image_tag "http://placehold.it/300x300.png", class: 'w-100 figure-img img-fluid rounded' %>
              <figcaption class="figure-caption">
                <a href="#">A caption for the above image.</a>
              </figcaption>
            </figure>
          </div>

          <div class="col-sm-4 mb-1">
            <figure class="figure">
              <%= image_tag "http://placehold.it/300x300.png", class: 'w-100 figure-img img-fluid rounded' %>
              <figcaption class="figure-caption">
                <a href="#">A caption for the above image.</a>
              </figcaption>
            </figure>
          </div>

          <div class="col-sm-12">
            <div class="card">
              <a class="d-block py-1 text-xs-center" href="#">more...</a>
            </div>
          </div>
        </div>

      </div>


    </div>
  </div>
</div>

