<%= render 'navbar' %>

<div class="container rounded mt-3">
  <div class="row">

    <div class="col-sm-12">

      <%= render 'title' %>

      <%= render 'tabs' %>
 
      <div class="comments mt-2">

        <div class="row">
          <div class="col-sm-4 mb-1">
            <figure class="figure">
              <%= image_tag 'mys/galaxy-s5', class: 'w-100 figure-img img-fluid rounded' %>
              <figcaption class="figure-caption">
                <%= link_to 'Samsung Galaxy S5', products_overview_path %>
              </figcaption>
            </figure>
          </div>

          <div class="col-sm-4 mb-1">
            <figure class="figure">
              <%= image_tag "mys/kangoo-15-dci", class: 'w-100 figure-img img-fluid rounded' %>
              <figcaption class="figure-caption">
                <a href="#">Renault Kangoo 1.5 dCi</a>
              </figcaption>
            </figure>
          </div>

          <div class="col-sm-4 mb-1">
            <figure class="figure">
              <%= image_tag "mys/xps-13", class: 'w-100 figure-img img-fluid rounded' %>
              <figcaption class="figure-caption">
                <a href="#">Dell Xps 13</a>
              </figcaption>
            </figure>
          </div>

          <div class="col-sm-4 mb-1">
            <figure class="figure">
              <%= image_tag "mys/m187", class: 'w-100 figure-img img-fluid rounded' %>
              <figcaption class="figure-caption">
                <a href="#">Logitech M187</a>
              </figcaption>
            </figure>
          </div>

          <div class="col-sm-4 mb-1">
            <figure class="figure">
              <%= image_tag "mys/toki-konutlari", class: 'w-100 figure-img img-fluid rounded' %>
              <figcaption class="figure-caption">
                <a href="#">Kayasehir Toki Konutlari</a>
              </figcaption>
            </figure>
          </div>

          <div class="col-sm-4 mb-1">
            <figure class="figure">
              <%= image_tag "mys/flatron-w2243s", class: 'w-100 figure-img img-fluid rounded' %>
              <figcaption class="figure-caption">
                <a href="#">LG Flatron W2243S</a>
              </figcaption>
            </figure>
          </div>


          <div class="col-sm-4 mb-1">
            <figure class="figure">
              <%= image_tag "mys/mouse-3000", class: 'w-100 figure-img img-fluid rounded' %>
              <figcaption class="figure-caption">
                <a href="#">Microsoft Mouse 3000</a>
              </figcaption>
            </figure>
          </div>

          <div class="col-sm-4 mb-1">
            <figure class="figure">
              <%= image_tag "mys/puzzi-101", class: 'w-100 figure-img img-fluid rounded' %>
              <figcaption class="figure-caption">
                <a href="#">Karcher Puzzi 10/1</a>
              </figcaption>
            </figure>
          </div>

          <div class="col-sm-4 mb-1">
            <figure class="figure">
              <%= image_tag "mys/sphera-30", class: 'w-100 figure-img img-fluid rounded' %>
              <figcaption class="figure-caption">
                <a href="#">Bosch Sphera 30</a>
              </figcaption>
            </figure>
          </div>

          <div class="col-sm-12">
            <div class="card">
              <a class="d-block py-1 text-xs-center" href="#">more...</a>
            </div>
          </div>
        </div>

      </div>


    </div>
  </div>
</div>

