<%= render 'left' %>

      <section class='category-section'>
        
        <h3 class="h5">Refrigerators</h3>

        <div class="row">
          <div class="col-sm-3">
            <figure class="figure">
              <%= image_tag 'refrigerators/nofrost.png', class: 'figure-img img-fluid img-rounded' %>
              <figcaption class="figure-caption">Gardrop Type</figcaption>
            </figure>
          </div>

          <div class="col-sm-3">
            <figure class="figure">
              <%= image_tag 'refrigerators/Nfrost.png', class: 'figure-img img-fluid img-rounded' %>
              <figcaption class="figure-caption">Two Door</figcaption>
            </figure>
          </div>

          <div class="col-sm-3">
            <figure class="figure">
              <%= image_tag 'refrigerators/nfkombi.png', class: 'figure-img img-fluid img-rounded' %>
              <figcaption class="figure-caption">No Frost Kombi</figcaption>
            </figure>
          </div>  

          <div class="col-sm-3">
            <figure class="figure">
              <%= image_tag 'refrigerators/noFrost2.png', class: 'figure-img img-fluid img-rounded' %>
              <figcaption class="figure-caption">No Frost</figcaption>
            </figure>
          </div>
        </div>
      </section>

<%= render 'right' %>
