<%= render 'left' %>
 

      <section class='category-section'>
        <div class="card clearfix">
          <div class='col-sm-3'>
            <h3 class="card-block h5">Refrigerators</h3>
          </div>  

          <div class='col-sm-9 horizontal-scrollable'>
            <figure class="figure">
              <%= image_tag 'refrigerators/nofrost.png', class: 'figure-img img-fluid img-rounded' %>
              <figcaption class="figure-caption">Gardrop Type</figcaption>
            </figure>

            <figure class="figure">
              <%= image_tag 'refrigerators/Nfrost.png', class: 'figure-img img-fluid img-rounded' %>
              <figcaption class="figure-caption">Two Door</figcaption>
            </figure>

            <figure class="figure">
              <%= image_tag 'refrigerators/nfkombi.png', class: 'figure-img img-fluid img-rounded' %>
              <figcaption class="figure-caption">No Frost Kombi</figcaption>
            </figure>

            <figure class="figure">
              <%= image_tag 'refrigerators/noFrost2.png', class: 'figure-img img-fluid img-rounded' %>
              <figcaption class="figure-caption">No Frost</figcaption>
            </figure>
          </div>
            
        </div>
      </section>

<%= render 'right' %>
