<%= render 'left' %>
 

      <section class='category-section'>
        <div class="card">
          <div class="card-block">
            <h3 class="card-title h5">TVs</h3>
            
          </div>
          <div class='horizontal-scrollable'>
            <figure class="figure">
              <%= image_tag 'tvs/3dtv.png', class: 'figure-img img-fluid img-rounded' %>
              <figcaption class="figure-caption">Gardrop Type</figcaption>
            </figure>

            <figure class="figure">
              <%= image_tag 'tvs/ledtv.png', class: 'figure-img img-fluid img-rounded' %>
              <figcaption class="figure-caption">Two Door</figcaption>
            </figure>

            <figure class="figure">
              <%= image_tag 'tvs/smart-tv.png', class: 'figure-img img-fluid img-rounded' %>
              <figcaption class="figure-caption">No Frost Kombi</figcaption>
            </figure>

            <figure class="figure">
              <%= image_tag 'tvs/tv1.png', class: 'figure-img img-fluid img-rounded' %>
              <figcaption class="figure-caption">No Frost</figcaption>
            </figure>
          </div>

        </div>
      </section>

<%= render 'right' %>
