<%= render 'navbar' %>

<div class="container rounded mt-3">

  <%= render 'title' %>

  <%= render 'tabs' %>


  <div class="mt-2">

      <section class='category-section'>
        
        <div class="hr-divider hr-divider-center mb-2">
          <h3 class="h6 hr-divider-heading">TVs</h3>
        </div>

        <div class="row">
          <div class="col-sm-3">
            <div class="card">
              <%= image_tag 'tvs/tv1.png', class: 'card-img-top img-fluid' %>
              <div class="card-block">
                <h4 class="card-title h6">4K UHD TV</h4>
              </div>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="card">
              <%= image_tag 'tvs/3dtv.png', class: 'card-img-top img-fluid' %>
              <div class="card-block">
                <h4 class="card-title h6">3D TV</h4>
              </div>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="card">
              <%= image_tag 'tvs/smart-tv.png', class: 'card-img-top img-fluid' %>
              <div class="card-block">
                <h4 class="card-title h6">Smart TV</h4>
              </div>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="card">
              <%= image_tag 'tvs/ledtv.png', class: 'card-img-top img-fluid' %>
              <div class="card-block">
                <h4 class="card-title h6">Led TV</h4>
              </div>
            </div>
          </div>
        </div>
      </section>
          
  </div>
</div>
