<div class="row">
  <div class="col-sm-2">
    <%= image_tag placeholder(150, 150), class: 'figure-img img-fluid rounded' %>
  </div>
  <div class="col-sm-10">
    <h1 class="h3 mt-1">Galaxy S5</h1>
    <ul class="nav nav-inline dot-spacer text-muted">
      <li class="nav-item"><a href="#" data-toggle="modal" data-target="#myModal">by Samsung</a></li>
      <li class="nav-item"><a href="#">Android Phones</a></li>
      <li class="nav-item">production and selling</li>
    </ul>
  </div>
  
</div>




<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Mobile Phones from Samsung</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-4 mb-1">
            <figure class="figure">
              <%= image_tag "http://placehold.it/300x300.png", class: 'w-100 figure-img img-fluid rounded' %>
              <figcaption class="figure-caption">
                <a href="#">A caption for the above image.</a>
              </figcaption>
            </figure>
          </div>

          <div class="col-sm-4 mb-1">
            <figure class="figure">
              <%= image_tag "http://placehold.it/300x300.png", class: 'w-100 figure-img img-fluid rounded' %>
              <figcaption class="figure-caption">
                <a href="#">A caption for the above image.</a>
              </figcaption>
            </figure>
          </div>

          <div class="col-sm-4 mb-1">
            <figure class="figure">
              <%= image_tag "http://placehold.it/300x300.png", class: 'w-100 figure-img img-fluid rounded' %>
              <figcaption class="figure-caption">
                <a href="#">A caption for the above image.</a>
              </figcaption>
            </figure>
          </div>

          <div class="col-sm-4 mb-1">
            <figure class="figure">
              <%= image_tag "http://placehold.it/300x300.png", class: 'w-100 figure-img img-fluid rounded' %>
              <figcaption class="figure-caption">
                <a href="#">A caption for the above image.</a>
              </figcaption>
            </figure>
          </div>

          <div class="col-sm-4 mb-1">
            <figure class="figure">
              <%= image_tag "http://placehold.it/300x300.png", class: 'w-100 figure-img img-fluid rounded' %>
              <figcaption class="figure-caption">
                <a href="#">A caption for the above image.</a>
              </figcaption>
            </figure>
          </div>

          <div class="col-sm-4 mb-1">
            <figure class="figure">
              <%= image_tag "http://placehold.it/300x300.png", class: 'w-100 figure-img img-fluid rounded' %>
              <figcaption class="figure-caption">
                <a href="#">A caption for the above image.</a>
              </figcaption>
            </figure>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>